.chat-wrapper {
    background: #022b3a;
    background: linear-gradient(150deg, rgba(61,197,241,1) 40%, rgba(244,224,77,1) 95%);
    min-height: 100vh;

    .chat {
        margin: 7em 0;
        .messages-wrapper {
            max-height: 62vh;
            overflow-y: auto;
        }
    }
}
/* make scrollbar transparent */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
