<div class="chat-wrapper h-100">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col-lg-9 col-md-10 col-sm-11 mx-auto chat">
                <div class="row">
                    <div class="col messages-wrapper">
                        <lchat-message [message]="message" [isMyMessage]="message.userid === currentUserid" *ngFor="let message of (api | async).messages"></lchat-message>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-10 col-12 mt-4">
                        <input type="text" class="form-control h-100" [class.is-invalid]="!message.pristine && !message.valid" [formControl]="message" placeholder="Whats on your mind...">
                    </div>
                    <div class="col-md-2 col-12 mt-4">
                        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onSendMessage()">send</button>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
