<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-lg-5 col-md-8 col-sm-11 mx-auto p-4 d-flex flex-column login-wrapper">
            <div class="row my-4">
                <div class="col-auto mx-auto">
                    <h1>
                        <strong>L.</strong>Chat
                    </h1>
                </div>
            </div>
            <div class="row my-4 flex-grow-1">
                <div class="col-11 mx-auto align-self-end">
                    <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onLogin()" >
                        <input type="text" class="form-control" [class.is-invalid]="!isFormControlValid('username')" formControlName="username" placeholder="username">
                        <input type="password" class="form-control mt-4" [class.is-invalid]="!isFormControlValid('password')" formControlName="password" placeholder="password">
                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-4" [disabled]="loginForm.invalid">login</button>   
                    </form>                 
                </div>
             </div>    
        </div>
    </div>
</div>
