<div class="alert alert-danger text-center" role="alert" *ngIf="showAlert | async">
  <!-- Haiku from https://www.gnu.org/fun/jokes/error-haiku.en.html -->
  The Web site you seek / cannot be located but / endless others exist
</div>

<div class="container logout" *ngIf="(api | async).loggedIn">
  <button type="button" class="btn close" (click)="onLogout()">
    logout
  </button>
</div>

<main>
  <router-outlet></router-outlet>
</main>

<footer id="footer" class="container-fluid page-footer">
  <div class="row align-items-center">
    <div class="col-auto mx-auto">
      <small>© Copyright 2020 Jakob Frohnwieser</small>
    </div>
  </div>
</footer>
