<div class="row my-4">
    <div class="col-2">
        <ng-container *ngIf="!isMyMessage">
            <div class="avatar" [ngStyle]="{'background-image': 'url(' + avatarUrl + ')'}"></div>
        </ng-container>
    </div>
    <div class="col-8 message">
        <div class="row">
            <div class="col" [class.text-left]="!isMyMessage" [class.text-right]="isMyMessage">
                <small><strong>{{ message.username }}</strong> at {{ message.timestamp | date: 'short' }}</small>
            </div>
        </div>
        <div class="row">
            <div class="col mx-4">
                {{ textWithEmojis }}
            </div>
        </div>
    </div>
    <div class="col-2 text-right">
        <ng-container *ngIf="isMyMessage">
            <div class="avatar" [ngStyle]="{'background-image': 'url(' + avatarUrl + ')'}"></div>
        </ng-container>
    </div>
</div>