.avatar {
    height: 65px;
    width: 65px;
    background-size: cover;
    background-position: top center;
    border: 1px solid #dddddd;
    border-radius: 50%;
}
.message {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: .25rem;
    box-shadow: 0px 2px 10px #dddddd;
}
