@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

$colors: (
    highlight: #d8588c,
    dark-grey: #333333,
    light-grey: #bebece,
    lighter-grey: #dddddd,
);

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
body {
    color: map-get($colors, 'dark-grey');
    background: #ffffff;
}
h1, h2, h3{
    font-weight: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
    margin: 1em 0;
}
a {
    color: inherit;
    border-bottom: dotted 1px;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

/*** elements ***/
main {
    height: 100vh;
}
footer {
    height: 5vh;
    position: absolute;
    bottom: 0;
}
.alert {
    border: 1px solid map-get($colors, 'lighter-grey');
    border-radius: .25rem;
    box-shadow: 0px 2px 10px map-get($colors, 'lighter-grey');
    position: absolute;
    width: 90%;
    left: 5%;
    top: 5%;
    z-index: 1000;
}
